<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xml:lang="en" 
      lang="en">
    <h:head>
        <title>login page</title>
    </h:head>
    <h:body>
        <form name='f' 
              action='#{facesContext.externalContext.requestContextPath}/j_spring_security_check' 
              method='POST'>
            <table>
                <tr>
                    <td>
                        username : 
                    </td>
                    <td>
                        <input name="j_username"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        password : 
                    </td>
                    <td>
                        <input name="j_password" type="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        remember me : 
                    </td>
                    <td>
                        <input type='checkbox' name='_spring_security_remember_me'/>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button type="sybmit">login</button>
                    </td>
                </tr>
            </table>
        </form>
        
        ${sessionScope["SPRING_SECURITY_LAST_EXCEPTION"].message}
    </h:body>
</html>
