<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>na5cent simple project</title>
    </h:head>
    <h:body>
        welcome to na5cent simple project<br/>
        
        
        user = #{userManagementMB.save()}
        
        
        
        <a href="#{facesContext.externalContext.requestContextPath}/logout">logout</a>
    </h:body>
</html>

